.checkboxWrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
}

.orderNumberWrap {
  display: flex;
  align-items: center;
  width: 6.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.dateWrap {
  display: flex;
  align-items: center;
  width: 11rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.statusWrap {
  display: flex;
  align-items: center;
  width: 11rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.amountWrap {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.sumWrap {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.customerWrap {
  display: flex;
  align-items: center;
  width: 48.25rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}
.iconPostponed {
  fill: var(--color-warning);
}

.iconCalculation {
  fill: var(--color-medium);
}

.iconCanceled {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.iconCompleted {
  fill: var(--color-success);
}
