._ {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--color-filter);
}

.tableFooterButtonsStatus {
  position: relative;
}

.tableFooterAction {
  display: flex;
  align-items: center;
}

.tableFooterText {
  font-size: 13px;
  line-height: 16px;
  margin-right: 1rem;
  color: var(--color-secondary);
}

.tableFooterButton {
  margin-right: 1rem;
}

.tableFooterPagination {
  display: flex;
}

.tableFooterPaginationForm {
  display: flex;
  position: relative;
}
