._ {
  position: fixed;
  top: 0;
  display: flex;
  align-items: stretch;
  justify-content: right;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.1);
  backdrop-filter: blur(0.0325rem);
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
}

.window {
  display: flex;
  flex-direction: column;
  width: 25rem;
  max-width: 100%;
  min-height: 44rem;
  height: 100%;
  padding: 3.5rem 1rem 0 1rem;
  background-color: var(--color-primary);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
  gap: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  position: absolute;
  height: 3.5rem;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  background: var(--color-medium);
}

.title {
  height: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: var(--color-sensitive);
  flex: none;
  order: 0;
  flex-grow: 1;
}

.date {
  padding-top: 1.5rem;
}

.hidden {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown {
  left: 13rem;
  top: -11.7rem;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 0.5rem 1rem;
  position: absolute;
  height: 48px;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: var(--color-filter);
}

.error {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-danger);
  padding-right: 1rem;
}
