.icon {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.text {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-secondary);
}

.iconPostponed {
  fill: var(--color-warning);
  color: var(--color-warning);
}

.iconCalculation {
  fill: var(--color-medium);
  color: var(--color-medium);
}

.iconCanceled {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
  color: var(--color-secondary);
  opacity: 0.5;
}

.iconCompleted {
  fill: var(--color-success);
  color: var(--color-success);
}
