.item {
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: var(--color-primary);
}

.item:hover {
  background-color: var(--color-sensitive);
}

.item:active {
  background-color: var(--color-medium);
}
