.headerButtonText {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-medium);
}

.headerTitle {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: var(--color-secondary);
}

.filterRowTextButton {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-primary);
}

.filterRowTextLoader {
  color: var(--color-medium);
  font-size: 0.8125rem;
  line-height: 1rem;
}

.dropdownsItemText {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
  color: var(--color-secondary);
}

.filterRowFromToText {
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-right: 0.25rem;
  color: var(--color-secondary);
}

.filterRowButtonReset {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-medium);
}

.filterRowTextAccept {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-medium);
}

.checkboxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
  color: var(--color-secondary);
}

.dropdownTitle {
  display: flex;
  line-height: 1rem;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}
