.control {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
  color: var(--color-secondary);
}

.radio:checked + .title {
  color: var(--color-medium);
}

.radio:checked + .title {
  color: var(--color-medium);
}

.radio {
  display: none;
}
