._ {
  display: flex;
  justify-content: right;
  padding: 0.5rem 1rem;
  background-color: var(--color-filter);
  margin-top: 0.5rem;
}

.text {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--color-secondary);
  padding-right: 0.5rem;
}
