._ {
  height: unset;
}

.articleWrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  width: 6rem;
}

.productWrap {
  display: flex;
  align-items: center;
  width: 12rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.costWrap {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.fieldText {
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-right: 0.25rem;
  color: var(--color-primary);
}
