.control {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
}

.checkboxGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.checkboxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
  color: var(--color-secondary);
}

.checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
  border: 0.0625rem solid var(--color-sensitive);
  border-radius: 0.125rem;
  background-color: var(--color-primary);
  box-sizing: border-box;
}

.checkbox:checked {
  background-color: var(--color-medium);
  border-color: var(--color-sensitive);
}

.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 0 0.125rem var(--color-medium),
    inset 0 0 0.125rem var(--color-medium);
}

.checkbox:focus {
  outline-color: var(--color-sensitive);
}

.checkbox:checked + .checkboxIcon {
  opacity: 1;
}

.checkboxIcon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary);
  opacity: 0;
  transition: opacity 0.25s ease-in;
}
