._ {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-medium);
}

.tableHeaderOrderActive {
  background: rgba(0, 0, 0, 0.15);
}

.tableHeaderCheckbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
}

.tableHeaderOrderNumber {
  display: flex;
  align-items: center;
  width: 6.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
}

.tableHeaderOrderDate {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  width: 11rem;
  height: 2.5rem;
}

.tableHeaderOrderStatus {
  display: flex;
  align-items: center;
  width: 9rem;
  padding: 0.75rem 0.5rem;
}

.tableHeaderOrderPosition {
  display: flex;
  align-items: center;
  width: 7.5rem;
  padding: 0.75rem 0.5rem;
}

.tableHeaderOrderSum {
  display: flex;
  align-items: center;
  width: 8rem;
  padding: 0.75rem 0.5rem;
}

.tableHeaderOrderCustomer {
  display: flex;
  align-items: center;
  width: 48.25rem;
  padding: 0.75rem 0.5rem;
}
