.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  box-sizing: border-box;
}

.buttonTransparent,
.buttonTransparent > .buttonIcon {
  background-color: transparent;
  color: var(--color-medium);
  stroke: var(--color-medium);
}

.buttonInactive {
  color: var(--color-secondary);
  background-color: transparent;
}

.buttonInactive .buttonIcon {
  fill: var(--color-secondary);
  stroke: none;
}

.buttonIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
}

.buttonText {
  padding: 0;
}

.buttonDanger {
  color: var(--color-primary);
  background-color: var(--color-danger);
}

.buttonDanger .buttonIcon {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.buttonPrimary {
  color: var(--color-primary);
  background-color: var(--color-medium);
}

.buttonPrimary .buttonIcon {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.buttonReverse {
  color: var(--color-medium);
  background-color: transparent;
}

.buttonReverse .buttonIcon {
  fill: var(--color-medium);
  stroke: none;
}

.buttonSecondary {
  color: var(--color-secondary);
  background-color: transparent;
}

.buttonSecondary .buttonIcon {
  fill: var(--color-secondary);
  stroke: none;
}

.buttonSmall {
  height: 1.5rem;
  padding: 0.25rem 0;
  gap: 0.25rem;
}

.buttonSmall .buttonIcon:first-child {
  margin-left: 0.5rem;
}

.buttonSmall .buttonIcon:only-child {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.buttonSmall .buttonText:first-child {
  margin-left: 0.5rem;
}

.buttonSmall .buttonText:last-child {
  margin-right: 0.5rem;
}

.buttonMedium {
  height: 2rem;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

.buttonMedium .buttonIcon:first-child {
  margin-left: 1rem;
}

.buttonMedium .buttonIcon:only-child {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.buttonMedium .buttonText:first-child {
  margin-left: 1rem;
}

.buttonMedium .buttonText:last-child {
  margin-right: 1rem;
}

.button:hover:enabled {
  border-color: var(--color-strong);
}

.button:active:enabled {
  border-color: var(--color-solid);
}

.buttonAlign {
  justify-content: center;
}
